//Auth
$color-primary: #ebce2c;
$color-text: #cccccc;
$color-background: rgba(217, 217, 217, 0.05);
$color-shadow: rgba(0, 0, 0, 0);
$color-button-text: #181818;
$color-button-hover1: rgba(81, 107, 177, 0.966);
$color-button-hover2: rgba(108, 128, 182, 0.966);

//AdminCreate
$primary-bg: rgba(217, 217, 217, 0.05);
$input-bg: #212121;
$select-bg: #001767;
$primary-color: #fff;
$secondary-color: #ccc;
$error-color: #ff6666;
$header-color: #fffafa;


$primary-background: #1c1b1b; 


//Table
$primary-bg: #212121;
$primary-text: #ccc;
$highlight-bg: #3d3c3c;
$banned-bg: #5cb85c;
$action-color-delete: #bf2554;
$action-color-check: #21aa0f;
$action-color-edit: #ebce2c;

//Tabs
$tab-active-text-color: deepskyblue;
$tab-active-gradient: linear-gradient( 113deg, hsl(260deg 100% 64%) 0%, hsl(190deg 100% 55%) 100%);
$tab-border-bottom-color: #1d1e22;
$tab-box-shadow: 0vh 0.2vh 0.8vh 0.2vh rgba(0, 0, 0, 0.25);


//Calendar
$calendar-bg: #282828;
$calendar-border: none;
$text-color-default: #ccc;
$text-color-accent: #395ee0;
$weekend-color: #d1000098;
$tile-hover-bg: #0632cf;
$tile-now-bg: #1c1b1b;
$tile-active-bg: #0d33bb;
$tile-range-bg: #0d33bb8e;
$disabled-bg: #0d32bb;
$tile-now-hover-bg: #001767;


//Filters
$bg-primary: #001767;
$bg-input: #212121;
$bg-checkbox-checked: #017ff7;
$text-primary: #fff;
$text-secondary: #ccc;
$text-placeholder: #cccccc5d;
$text-light: #eee;
$text-error: #bf2554;


//Modal
$primary-color: #fffafa;
$secondary-color: #1d1c1c;
$accent-color: #991414;
$border-color: #797979;
$hover-shadow: rgba(0, 0, 0, 0.56);


//Error
$error-color: #ffffff;
$nav-bg: #001767;
$nav-hover-shadow: 0vh 0.3vh 0.3vh 0.1vh #131414;